@import '../common-styles/all.scss';

.header-wrapper {
    padding: 50px 0;
    background-color: $normal-bg-color;
    .title {
       text-align: center;
       h1 {
        font-size: 60px;
        font-weight: 800;
        color: $normal-text-color;
       }
       h2 {
        color: $subtitle-color;
        font-weight: 400;
        font-size: 35px;
       }
    }
    .service-wrapper {
        .card-main {
            width: 170px;
            border: 3px solid transparent;
            border-radius: 6px;
            text-align: center;
            padding: 10px;
            &:hover{
                border: 3px solid $subtitle-color;
                p {
                    color: $subtitle-color;
                }
            }
            p {
                color: $normal-text-color;
                font-weight: 800;
                font-size: 18px; 
                margin-top: 05px;
            }
            a {
                text-decoration: none;
            }
        }
        
        img {
            max-width: 85px;
        }
    }    
}