@import '../common-styles/all.scss';

.login-wrapper {
    padding: 45px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h1 {
        font-size: 35px;
        font-weight: 800;
        .fast-easy {
            color: $title-span-color;
        }
    }

    .login-img-wrapper {
        padding: 20px;
    }

    .logo-wrapper {
        text-align: center;
        img {
            width: 23%;
        }
    }
    .login-form-container {
        padding: 10px 50px;
    }
    .form-wrapper {
        text-align: center;
        //input design in all.scss
        input {
            margin: 20px 0;
        }
        input[type="checkbox"]{
            width: 5%;
        }
        input:last-child {
            width: 50%;
            border-bottom: 0;
            background-color: $normal-text-color;
            color: $normal-bg-color;
            font-size: 17px;
            font-weight: 500;
        }
    }
    a {
        color: $title-span-color;
        text-decoration: none;
        &:hover{
            color: $title-span-color;
            text-decoration: underline;
        }
    }
}

@media(max-width: 767px ) {
    .login-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}